@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
  sub
    font-size: $font-size-small-s
  .info-container
    .info
      .el-table td, .el-table th
        padding: 4px 0
      .el-table .cell
        white-space: pre-line
  .header-cell-class-name
    background-color: rgb(238, 245, 250)
  .ripple
    position: relative
    &:focus
      outline: none;
    &:after
      border-radius: 50%
      content: ""
      display: block
      position: absolute
      top: -10px
      left: -10px
      right: -10px
      bottom: -10px
      pointer-events: none
      background-color: #333
      background-repeat: no-repeat
      background-position: 50%
      opacity: 0
      transition: all .3s
    &:active:after
      opacity: .3
      top: 0
      left: 0
      right: 0
      bottom: 0
      transition: 0s
